<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/customcss.css" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atakan Gul's Blog Page</title>
</head>

<body>
  <%- include('../partials/headers/headerAdmin.ejs') %>

  <div class="container w-full flex justify-center mt-0 bg-cover bg-center bg-no-repeat" ></div>
    <div class="flex flex-col min-v-screen items-center bg-base-100" style="margin-top: 5rem;">
      <img src="/img/profile.png" alt="Atakan Gül" class="w-32 h-32 rounded-full  mb-4 glass">
      <div class="text-center">
        <h1 class="text-2xl font-bold mb-2">Hi, there!</h1>
        <p class="text-lg mb-4 stat-desc">Ready to read techy stuff?</p>
      </div>
      <button class="btn btn-accent glass mb-3 " onclick="my_modal_4.showModal()">
        Subscribe
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
      </button>
      <dialog id="my_modal_4" class="modal">
        <div class="modal-box">
          <form method="dialog">
            <button class="btn btn-sm glass btn-circle btn-accent absolute right-2 top-2">✕</button>
          </form>
          <h3 class="font-bold text-lg mb-2">Newsletter Subscription</h3>
          <form action="/users/subscribe/" method="post">
            <fieldset class="form-control w-80">
              <label class="label">
                <span class="label-text">Enter your email address</span>
              </label> 
              <input type="text" id="email" name="email" placeholder="username@site.com" class="input input-bordered join-item mb-2" /> 
              <button class="btn glass join-item">OK</button>
            </fieldset>
          </form>
        </div>
      </dialog>
      <div class="stats shadow my-2">
  
        <div class="stat">
          <div class="stat-title">Total Published Blogs</div>
          <div class="stat-value text-secondary"><%= blogCount %></div>
          <div class="stat-desc">21% more than last month</div>
        </div>
        
      </div>

      <span id="icon" onclick="scrollToElement()" class="m-3 mt-5 ">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down">
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </span>
    </div>
  </div>

  <div class="container my-10 flex w-100 justify-center align-center my-10 py-10">
    <article class="prose lg:prose-xl">
      <h2 class="divider center">Latest Blogs</h2>
    </article>
  </div>

  <div class="container p-0" id="scroll-place">
      <ul class="container m-0 p-0 my-10 flex justify-center align-center flex-col w-100 gap-3 p-0">
          <% data.forEach(post => { %>
              <a href="/blogs/blog/<%= post._id %>" class="flex flex-col rounded-lg bg-base-100 shadow-secondary-1 m-0 p-0 md:flex-row">
                  <img
                      id="post-<%= post._id %>"
                      src=""
                      alt="Blog Image"
                      class="h-96 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:!rounded-none md:!rounded-s-lg"
                  />
                  <div class="flex flex-col justify-start p-6">
                      <h5 class="mb-2 text-xl font-medium"><%= post.title %></h5>
                      <p class="mb-4 text-base">
                          <%= post.content %>
                      </p>
                      <p class="text-xs text-surface/75 ">
                          Published: <%= post.publishedAt ? new Intl.DateTimeFormat('en-US').format(new Date(post.publishedAt)) : 'No date' %> | Category: <%= post.category %>
                      </p>
                      <p class="text-xs text-surface/75 ">
                          Author: <%= post.authorName %>
                      </p>
                  </div>
                </a>
          <% }) %>
      </ul>
  </div>


  
  
  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script>
    async function fetchImage(query, postContainerId) {
      const apiKey = "34782797-09ed0e53aefea1bdbbcccd6f0"; // Replace with your Pixabay API key
      const url = `https://pixabay.com/api/?key=34782797-09ed0e53aefea1bdbbcccd6f0&q=${query.toLowerCase()}&image_type=photo`;

      try {
        const response = await fetch(url);
        const data = await response.json();

        if (data.hits && data.hits.length > 0) {
          const imageUrl = data.hits[1].webformatURL;
          document.querySelector(`#${postContainerId}`).src = imageUrl;
        } else {
          console.error("No images found.");
        }
      } catch (error) {
        console.error("Error fetching image:", error);
      }
    }

    async function loadImages() {
      const data = <%- JSON.stringify(data) %>;
      for (const post of data) {
        await fetchImage(post.title, `post-${post._id}`);
      }
    }

    window.onload = () => {
      loadImages();
    };
    
    scrollToElement = () => {
      const element = document.querySelector('#scroll-place');
      if (element) {
        element.scrollIntoView({ behavior: 'smooth' });
      }
    };

  </script>
</body>
</html>
