<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Join Atakan Gül on a journey through the tech world. Get the latest on tech trends, programming insights, and hands-on guides. Discover articles that keep you informed and ahead in technology.">
    <meta name="keywords" content="Technology Blog, Tech Articles, Programming, Tech Trends, Atakan Gül, Latest Technology News, Coding Tutorials, Software Development, Gadget Reviews, AI, Machine Learning, Cybersecurity, Tech Startups, Programming Languages, Web Development, Mobile App Development, Tech Innovations, Tech Industry News, Cloud Computing, Blockchain Technology, IoT, Tech Tips, Tech Product Reviews, Artificial Intelligence, Machine Learning, Data Science, Future Technology, Tech Conferences, IT News, Tech Careers, Programming for Beginners, Tech How-To Guides, Open Source Software, Tech Gadgets, Tech Opinion Pieces, Coding Best Practices, Tech Entrepreneur Stories, Tech Innovations, Virtual Reality, Augmented Reality, 5G Technology">
    <meta name="author" content="Atakan Gül">
    <meta property="og:title" content="Atakan Gül | Latest Tech Articles and Insights">
    <meta property="og:description" content="Explore the latest technology articles on Atakan Gül's blog. Stay updated with insightful posts on tech trends, programming, and more.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.atakangul.com/">
    <meta property="og:image" content="https://www.atakangul.com/img/avatar.webp">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Atakan Gül's Technology Blog">
    <title>Blog Home Page | Atakan Gül Blog Page | Read Technology Articles</title>
    <link rel="canonical" href="https://www.atakangul.com/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/customcss.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.ico">
    <link rel="manifest" href="/site.webmanifest">
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Blog",
        "name": "Atakan Gül's Technology Blog",
        "description": "Explore the latest technology articles and insights on Atakan Gül's blog.",
        "url": "https://www.atakangul.com/",
        "author": {
          "@type": "Person",
          "name": "Atakan Gül"
        }
      }
    </script>
  </head>
  <body>
      <% if (isAdmin) { %>  
        <%- include('../partials/headers/headerAdmin.ejs') %>
      <% } else if (isAuthenticated) { %>
        <%- include('../partials/headers/headerAuth.ejs') %>
      <% } else { %>
        <%- include('../partials/headers/headerUnAuth.ejs') %>
      <% } %>
      <h1 hidden class="text-center w-100 text-3xl mt-4 ubuntu-light" style="font-size: 2rem;">Tech Blog Page</h1>
      <div class="ui container flex flex-col justify-center items-center pt-3">
        <div class="w-100 h-32 bg-white rounded-lg overflow-hidden shadow-lg position-relative profile-banner-mobile" style="overflow: visible !important;">
          <img loading="lazy" src="/img/banner.jpeg" alt="Atakan Gül's Blog Banner" class="w-full h-full rounded-lg">
          <img loading="lazy" class="profile-img-custom" src="/img/avatar.webp" alt="Atakan Gül's Profile Picture">
        </div>
        <% if (!user.isSubscribed) { %>
        <div class="ui container flex justify-center before"></div>
          <div class="row w-full">
            <div class="col-12 flex justify-center items-center">
              <img loading="lazy" alt="Hi there banner." src="/img/sub-text.png" style="filter: contrast(100);">
            </div>
          </div>
        <% } else { %>
          <div class="ui container flex justify-center before">
            <h1 class="text-center w-100 text-3xl mt-4 ubuntu-light" style="font-size: 2rem;">Welcome back my friend :)</h1>
          </div>
        <% } %>
      </div>
      <% if (user && !user.isSubscribed) { %>
        <%- include('../partials/subscribe.ejs') %>
      <% } %>

      <%- include('../partials/latestBlogs.ejs', {data: data}) %>
      
      <script>
        var data = <%- JSON.stringify(data) %>;
      </script>
      <script type="text/javascript" src="/js/script.js"></script>
    </body>
</html>
